mixin free_access()
	.free_access
		.wrap
			.sect_2
				.get_free.wraper
					.widget_wrap
						h3 Get Free Access						
						p This is where you can ask site visitors to sign up for your weekly newsletter. Be sure to craft copy that converts.
						.check_mark
							ul
								li Build Your Business the Smart Way
								li Create Marketing Funnels That Work
								li Craft Killer Copy for Digital Products
								li Leverage Social Advertising Platforms
								li Enter the WordPress Premium Market
				.email.wraper
					.widget_wrap
						h3 Email Newsletter
						p Fill out the form below for immediate access.

