extends main.pug

include ../blocks/head_mnu/head_mnu.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug

block title
	title projec

block pagecontent

	+head_mnu

	+header()

	+footer()

	