mixin header()
	<header class="main-head" style="background-image: url(img/header_bg.jpg);">
		h1 Great Experiences
		p Build the business of your dreams without making unnecessary mistakes.
		h2 Great Experiences
	</header>