mixin header()
	<header class="main-head" style="background-image: url(img/header_bg.jpg);">
		h1 Great Experiences
		p Build the business of your dreams without making unnecessary mistakes.
		h1 Lorem ipsum
		h2 Accusamus deleniti natus harum.
		h3 Placeat, deserunt ab quis.
		h4 Laborum nostrum numquam sunt!
		h5 Vero, dicta doloribus eius.
		h6 Incidunt qui nemo animi!
	</header>