mixin footer()
	.footer
		h1 footer
		h1 Lorem ipsum dolor sit.
		h2 Eveniet laboriosam, iure est.
		h3 Reprehenderit maxime dolorum tempora.
		h4 Porro sint, blanditiis harum.
		h5 Nemo officia quos optio.
		h6 Magni sint voluptatibus reiciendis.
