mixin our_service()
	.our_service
		.wrap
			.sect_3
				.home_sect
					h3 our service
				.service_wrap
					.section_1.widget
						.icon_1.icons
							<i class="icon ios-create-outline" aria-hidden="true"></i>
							h4 Content Marketing
							p Understand the basics of building the type of audience that will build your business.
							<a class="button" href="#">Click for Free Access</a>
					.section_2.widget
						.icon_2.icons
							<i class="icon ios-lock-outline" aria-hidden="true"></i>
							h4 Digital Commerce
							p Our academy shows you how to create and sell profitable digital products &amp; services.
							<a class="button" href="#">Click for Free Access</a>
					.section_3.widget
						.icon_3.icons
							<i class="icon ios-mic-outline" aria-hidden="true"></i>
							h4 Podcast Training
							p We'll teach you how to deliver a remarkable podcasting audience experience.
							<a class="button" href="#">Click for Free Access</a>


					
